# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tokdig
DB_PASSWORD=tokdig_dev_2026
DB_DATABASE=tokdig

# JWT
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRATION=7d

# App
PORT=3001
NODE_ENV=development

# Midtrans (sandbox)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# Frontend URL
FRONTEND_URL=http://localhost:3000
